
.game{
    margin: 20px;
    padding: 20px;
    border: 5px solid black;


}
.state{
    display: flex;
    justify-content: center;
    align-items: center;

}

.gtitle{
    display: flex;
    justify-content: center;
    align-items: center;
}



.diceBoard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.upperSection{
 padding: 20px;

}

.lowerSection{
    padding: 20px;
}

.scoreBoardTitle{
    display: flex;
    justify-content: center;
    align-items: center;


}


.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
}
.divdiceRoll{
    display: flex;
    justify-content: center;
    align-items: center;
}

.diceRoll{
    width: 500px;
    height: 50px; 
    color: black;
    background-color: white;
    border: solid black;
    /*padding: 20px;*/

}

.diceRoll:hover{
    background-color: grey;
}
.diceButton{
    width: 120px;
    height: 20px;
    color: black;
    background-color: white;
    border: solid black;


}
.diceGroup{
    padding: 10px;

}
.diceButton:hover{
    background-color: grey;
}

.scoreHov:hover{
    background-color: grey;
}



.dice1, .d1Status {
    display: inline-block;
}

.dice2, .d2Status {
    display: inline-block;
}

.dice3, .d3Status {
    display: inline-block;
}

.dice4, .d4Status {
    display: inline-block;
}

.dice5, .d5Status {
    display: inline-block;
}

.score, .scoreValue {
    display: inline-block;
}

.gdice{

    /*border: 2px solid black;*/
    

}

/*.diceBoard, .scoreBoard {
    display: inline-block;
    width: 200px;
}*/